{% extends "my_profile/header.html" %}

{% block content %}
<div>
    <ul>
        <li>Morse code:encoder decoder</li>
        <p>
            A program written in python that converts alphaneumeric characters into morse code or convert morse code into alphanumeric characters
        </p><br>
        <p>project link: <a href="https://github.com/kyusyer/morsecode">https://github.com/kyusyer/morsecode</a>

        </p>
        <li>Fullstack website using django</li>
        <p>
            A full stack website that contains my resume that is written in django
        </p> <br>
        <p>Project link: <a href="https://github.com/kyusyer/django_projecty2"></a>https://github.com/kyusyer/django_projecty2</p>
        

    </ul>
</div>
{% endblock %}