h1,
h2,
hr {
    color: green
}

html {
    background: white;
    margin-left: 50px;
    margin-top: 50px;

}

#skills {
    margin-bottom: 0px;

}

.summary {

    margin-left: 20px;
    margin-right: 100px;

}